{% extends "base.html" %}

{% block title %}Create Quiz | PyLearn{% endblock %}

{% block content %}
<script src="https://cdn.tiny.cloud/1/{{ api_key }}/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<div class="container mt-5 mb-5">
    <h1 style="color: var(--accent);">QUIZ EDITOR</h1>

    <div class="mb-4">
        <label>Quiz Title</label>
        <input type="text" id="quizTitle" class="form-control" style="background: #222; color: white; border: 1px solid #444;" placeholder="Ex: Python Basics Quiz">
    </div>

    <div id="questionsContainer"></div>

    <button onclick="addQuestion()" class="btn btn-outline-light mt-3 mb-5">+ Add New Question</button>
    
    <hr style="border-color: var(--border);">

    <button onclick="saveQuiz()" class="btn-get-started" style="background-color: var(--accent); color: black; font-weight: bold;">
        SAVE QUIZ
    </button>
</div>

<script>

</script>
{% endblock %}